# Everything but dotfiles
*
!.*
!.*/**
/.dotfiles.git

# macOS resources
.DS_Store
/*.padl
/.CFUserTextEncoding
/.Trash/

# Config files with secrets
/.githubrc
/.netrc
/.serverlessrc
/.trc

# Backups, caches, dumps, histories, logs, sessions, and whatever
.vscode/
/.*-history
/.*_history
/.*_session
/.*_sessions
/.VID*_PID*.xml
/.babel.json
/.boto
/.deno
/.ec2ssh
/.envrc
/.erlang.cookie
/.flutter
/.flutter_settings
/.gitflow_export
/.journal.json
/.lesshst
/.my.cnf
/.pnpm-state.json
/.rnd
/.tempPath.xml
/.v8flags.*
/.vault-token
/.viminfo
/.viminfo.tmp
/.virtualchain-spv-headers.dat
/.vuerc
/.wget-hsts
/.yarnrc
/.zcompdump

# Hodgepodge
/.atom/
/.aws/
/.bdash/
/.blockstack/
/.bundle/
/.cache/
/.caddy/
/.cargo/
/.cmake/
/.cocoapods/
/.composer/
/.config/iterm2/
/.cpad2/
/.cpan/
/.cpanm/
/.cups/
/.dat/
/.dlv/
/.docker/
/.dropbox/
/.ecr/
/.electron/
/.elm/
/.faktory/
/.flow-typed/
/.gdrive/
/.gem/
/.ghost/
/.gnupg/
/.go/
/.gradle/
/.gsutil/
/.heroku/
/.hex/
/.httpie/
/.idea/
/.ipython/
/.itmstransporter/
/.jupyter/
/.jspm/
/.kiex/
/.kube/
/.livedl/
/.lldb/
/.local/include/python*/
/.local/lib/python*/
/.local/share/
/.local/state/
/.minikube/
/.mitmproxy/
/.mix/
/.multirust/
/.nanobox/
/.ngrok2/
/.node/
/.node-gyp/
/.nodebrew/
/.npm/
/.nvm/
/.op/
/.oracle_jre_usage/
/.pnpm-state/
/.pnpm-store/
/.pnpm/
/.pyenv/
/.pylint.d/
/.rbenv/
/.rd/
/.redhat/
/.rustup/
/.serverless/
/.solargraph/
/.subversion/
/.swiftpm/
/.terraform.d/
/.up/
/.vagrant.d/
/.vimbackup/
/.virtualenvs/
/.volta/
/.vscode/
/.wine/
/.yarn/
/.yeoman/
/.zcompcache/
/.zoekt/

# Personal stuff
/.help/
/.totp.toml
/.vimrc.tags
/.zshrc.local
