# Everything but dotfiles
*
!.*
!.*/**
/.dotfiles.git

# macOS resources
.DS_Store
/*.padl
/.CFUserTextEncoding
/.Trash/

# Config files with secrets
/.githubrc
/.netrc
/.serverlessrc
/.trc

# Backups, caches, dumps, histories, logs, sessions, and whatever
/.*-history
/.*_history
/.*_session
/.*_sessions
/.VID*_PID*.xml
/.babel.json
/.boto
/.config/karabiner/automatic_backups/
/.ec2ssh
/.erlang.cookie
/.gitflow_export
/.journal.json
/.lesshst
/.rnd
/.tempPath.xml
/.v8flags.*
/.viminfo
/.viminfo.tmp
/.virtualchain-spv-headers.dat
/.wget-hsts
/.yarnrc
/.zcompdump

# Hodgepodge
/.atom/
/.aws/
/.blockstack/
/.bundle/
/.cache/
/.caddy/
/.cargo/
/.cmake/
/.cocoapods/
/.cpad2/
/.cups/
/.dat/
/.docker/
/.dropbox/
/.electron/
/.elm/
/.flow-typed/
/.gdrive/
/.gem/
/.ghost/
/.gnupg/
/.go/
/.gsutil/
/.heroku/
/.hex/
/.httpie/
/.idea/
/.itmstransporter/
/.jspm/
/.kiex/
/.kube/
/.livedl/
/.local/
/.minikube/
/.mitmproxy/
/.mix/
/.multirust/
/.nanobox/
/.ngrok2/
/.node-gyp/
/.nodebrew/
/.npm/
/.nvm/
/.op/
/.oracle_jre_usage/
/.pylint.d/
/.rbenv/
/.rustup/
/.serverless/
/.solargraph/
/.subversion/
/.terraform.d/
/.up/
/.vagrant.d/
/.vimbackup/
/.virtualenvs/
/.volta/
/.vscode/
/.yarn/
/.yeoman/

# Personal stuff
/.help/
/.totp.toml
/.vimrc.tags
