/.wrangler/
/Melonbooks/
/agenv0/
/asciinema/
/borg/
/composer/
/configstore/
/dagger/
/fish/fishd*
/gcloud/
/gh/
/git/gitk
/github-copilot/
/githubnext_*
/grv/
/himalaya/
/htop/
/hub
/jgit/
/karabiner/karabiner.json
/karabiner/automatic_backups/
/keybase/
/lnav/
/ngrok/
/op/
/ranger/
/raycast/
/swiftpm/
/yarn/
